################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/UnitTest1/x64/Debug
/UnitTest1/UnitTest1/x64/Debug
/UnitTest1/.vs/UnitTest1
/Lab6.3/.vs/Lab6.3
